<!--Botones-->

<section id="actions" class="py-4 mb-4 bg-light">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- <a href="#" class="btn btn-primary btn-block" data-toggle="modal" ddata-bs-target="#agregarClienteModal">                
            </a> -->
            <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#agregarClienteModal">
                <i class="fas fa-plus"></i> Agregar Cliente
              </button>
        </div>
        
    </div>
</div>
</section>

<!--Listado Clientes-->
<section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Listado de Clientes</h4>

                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Saldo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cliente of clientes; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>                                    
                                    <td>{{ cliente.saldo | currency:'USD': '$' }}</td>
                                    <a routerLink="/cliente/editar/{{cliente.id}}" 
                                    class="btn btn-secondary" >
                                        <i class="fas fa-angle-double-right ">  Editar</i>
                                    </a>
                                   
                        </table>
                    </div>
                </div>
            </div>
            <!--Tarjetas laterales-->
            <div class="col-md-3">
                <div class="card text-center bg-dark text-white mb-3">
                    <div class="card-body">
                        <h3>Saldo Total</h3>
                        <h4 class="display-4">
                            {{ getSaldoTotal() | currency:'USD': '$' }}
                        </h4>
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Total Clientes</h3>
                        <h4 class="display-4">
                          <i classfast fa-users></i>  {{ clientes?.length }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Agregar Cliente Modal-->
<div class="modal fade" id="agregarClienteModal">
    <div class="modal-dialog modl-lg">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Nuevo Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" class="form-control"  placeholder="Nombre">                                    
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" class="form-control"  placeholder="Apellido">                
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control"  placeholder="Email">                
                </div>
            </div>

        </form>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
